@charset "utf-8";
/* CSS Document */
html {
	margin: 0px; padding: 0px;
	background: #EFEFEF;
}

body {
	margin: 0px; padding: 0px;
	background: #FFFFFF;
	font-family: 'NanumSquare', sans-serif;
}

footer {
	background: #EFEFEF;
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

h4 {
	margin: 0px;
}

span {
	margin: 0px;
}

a {
	color: inherit;
}

a:link {
	text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

::-moz-selection {
	color: #273869;
	background-color: #FFF;
}

::selection {
	color: #273869;
	background-color: #FFF;
}